@model IEnumerable<LogisticInventorySystem.Models.OrderEntity>
@{
    ViewData["Title"] = "Search Order";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<center>
    <h2>Searched Orders</h2>

    @if (ViewBag.msg != null)
    {
        <script>alert("@ViewBag.msg");</script>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.PartitionKey</td>
                    <td>@order.RowKey</td>
                    <td>@order.quantity</td>
                    <td>@order.Timestamp</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="ViewSupplierOrders" asp-controller="Order">Back</a>
    </div>
</center>
