
@model IEnumerable<LogisticInventorySystem.Models.OrderEntity>
@{
    ViewData["Title"] = "View Orders";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<center>
    <h1>Supplier Orders</h1>

    <form method="post" asp-controller="Order" asp-action="SearchOrderPage" asp-route-name="name" >
        <p>
            Search by Item Name : <input type="text" name="name" value="" required />
        </p>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    @if (ViewBag.msg != null)
    {
        <script>alert("@ViewBag.msg");</script>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.PartitionKey</td>
                    <td>@order.RowKey</td>
                    <td>@order.quantity</td>
                    <td>@order.Timestamp</td>
                </tr>
            }
        </tbody>
    </table>
</center>


